@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gray-900 bg-white;
  }

  /* Remove focus outline, box-shadow, and tap highlight */
  * {
    @apply outline-none;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
  }

  /* Prevent text selection on unnecessary elements */
  button,
  a,
  div {
    user-select: none;
  }
}

@layer utilities {
  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

